Активный с огромным желанием развиваться. Умение диагностировать и решать технические проблемы, внимательность, ответственность. Умение быстро и эффективно обучаться/самообучаться, работа...
...Microsoft Windows 10 и популярного офисного ПО. Знание принципов работы сетей и сетевых протоколов. Базовые знания семейства серверных OC Windows...
Квалифицированный пользователь ПК. Лёгкое решение проблем с оборудованием и Windows. Опыт работы в ресторанном бизнесе приветствуется. Доброжелательность, позитивный настрой, обучаемость...
Опыт администрирования серверов MS Windows 20002019, Linux. Управление инфраструктурой Windows (DNS, DHCP, WSUS). Опыт администрирования терминальных служб MS Windows. 
Знание линейки операционных систем Microsoft Windows XP, Windows 7, 8, 8.1, 10. Умение: Работать с почтовыми клиентами, понимание что...
Уверенные знания линейки ОС Windows (Windows 10, Windows Server 12/16/19). Опыт работы с системами Help\ServiceDesk. 
Хорошие знания и опыт по администрированию серверов на Windows и Linux (или аналогичными *nix системами). Опыт работы с сетевым оборудованием...
...поздних версий, наиболее распространенного настольного программного обеспечения Windowsплатформы. Опыт установки ОС Windows 7 и более поздних версий. 
Навыки администрирования ОС семейства Windows. Понимание принципов работы локальных сетей, навыки сетевой диагностики. Опыт настройки антивирусных систем, инструментов и средств...
Продвинутые навыки работы с ОС Windows, офисным ПО и оргтехникой. Базовые навыки работы с периферийным, торговым, сетевым оборудованием (сенсорные моноблоки...
Опыт от 1 года с похожим функционалом. Опыт установки и администрирования Windows, Linux. Значительный опыт работы с локальными сетями. 
Confident knowledge of the principles of network technologies (Windows HyperV, AD, DNS, DHCP, NAT, VPN, VLAN, group policies). 
Доброжелательность, пунктуальность, внимательность, ответственное отношение к работе.
Знание принципов работы сетей на основе статической и динамической маршрутизации. Знание принципов работы SDN. Знание систем виртуализации. Опыт построения VPN...
Знание виртуализации VMware на уровне VCP. Уверенное администрирование Windows и Linux систем. Знание сетевых технологий на уровне не ниже CCNA. 
Иметь представление об уровнях системы OSI, понимание TCP\IP, DNS, DHCP, AD, VPN. Опыт администрирования Windows Server, продуктов 1С. 
Обладает отличным знанием Windows 10 (настройка, установка решение проблем). Хорошо разбирается в современном железе (сборка, подбор, настройка). Имеет опыт работы...
Опыт работы/диагностики оргтехники и периферийного оборудования. Уверенные знания ОС Windows (8,10), MS Office. Знание и понимание принципов работы...
Готовность работать исключительно в формате оффлайн (на территории офиса компании). Опыт администрирования Windows, установки и настройки офисного ПО. 
опыт работ на аналогичной должности от трёх лет.  навыки монтажа СКС, Видеонаблюдения, СКУД.  понимание принципов работы локальных сетей, DNS, DHCP...
