MSc or PhD in tech. Good knowledge of Deep Learning and experience with at least one of DL frameworks: Tensorflow...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Skills. 3 years work experience as a Data Scientist/ML Engineer or similar role. Familiar with Python (jupyter notebook, pandas...
Владение методологией UML и средствами визуального проектирования архитектуры ПО, опыт разработки архитектурной документации. Знание принципов REST/RPC, опыт проектирования и...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Профессиональное владение пакетами Adobe After Effects, Illustrator, Photoshop. Работа с персонажной анимацией в After Effects. Большой плюс: разработка и подготовка...
Навыки разработки cloudnative сервисов. Знакомство с Kubernetes, хорошие навыки работы с Docker. Отличное владение Python, умение работать с асинхронным...
Several years of proven experience in international B2B SaaS product management or similar roles. Data driven  ability to...
Лидерство в рамках ML/AI и автоматизации: Качества личные: Качества профессиональные: Опыт разработки (участии в) промышленных IT продуктов и понимание...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Minimal level of English PreAdvanced (C1) and higher – MUST! 35 years or more as Senior Developer. 
Навыки разработки cloudnative сервисов. Знакомство с Kubernetes, хорошие навыки работы с Docker. Отличное владение Python, умение работать с асинхронным...
Опыт работы в роли менеджера продукта (webservices, dev2dev продукты и сервисы) не менее 3 лет. 
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Знание ML методов. Отличное знание Python. Знание библиотек pandas, numpy, scikitlearn, xgboost, tensorflow, pytorch. Знание SQL. Умение работать с...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
5 years of NLP experience notably in the design and development of multilingual scalable NLP models in highload production...
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
