Django REST Framework.  Celery.  Vue.js.  GitLab.  Хорошие знания Python.  Уверенное владение Django.  Опыт разработки API на DRF.  Знание Git.  
Python 3. Django REST Framework. Huey. PostgreSQL. Redis. Основы сетевой безопасности и знание инструментов её обеспечения. Опыт работы с очередями...
Python 3.7. Django 3. Опыт работы с git. Опыт работы на линукс, базово (bash скрипты, cron задачи). 
Python 2.7/3.6. FastAPI / Flask / DjangoDRF. SQLAlchemy / Django_ORM. PostgeSQL. Python Web stack (uWSGI, Docker, Celery, Redis/Memcached). 
Хорошие знания Python/Django. Умение быстро погружаться в задачи и эффективно их решать. Опыт с graphQL желателен, в случае его...
Работал с Python 3, вебфреймоворками (Flask, Django). Знает классические алгоритмы и структуры баз данных, сортировки. Преимуществом будет опыт работы...
Знание Python 3.6, вебфреймоворков (Flask или Django), ORM (SQLAlchemy или Django_ORM). Опыт работы c ОС Linux. 
Опыт работы от 2 лет на Python. Уверенное знание Django. Опыт работы с базами данных (уверенное знание SQL). 
Python 3, HTML и CSS  обязательно. JavaScript  будет преимуществом. Опыт работы с Django/DRF от 3х лет. 
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Технический английский (письменный и разговорный). Законченное высшее образование в области ИТ. Будет преимуществом: Предыдущий опыт работы с Python (Django) и...
Отличное знание Python, Django, Celery, PostgreSQL, Redis, ClickHouse (желателен опыт работы от 3х лет). Опыт написания unitтестов. 
Backend разработка, опыт fullstack разработки на PythonDjango будет являться преимуществом. Опыт в рефакторинге, декомпозиции, построении модульных приложений. 
None
Владеешь Python 3.8 (и выше), имеешь опыт работы с Django, Django Rest Framework, Celery. Разбираешься в PostgreSQL и MongoDB. 
Experience with Python Django and Django REST framework is a huge plus. Experience with Docker, Dockercompose, Kubernetes and Helm...
3 лет Python/Django на бэкенде с "боевым" опытом. Опыт лидерства и технического управления командами разработчиков (team lead). 
Опыт коммерческой разработки на Python от 2х лет. Опыт работы с вебфреймворками (Django / Flask ): разработка API, бизнеслогики...
Опыт программирования на Python (Django, Pandas) от 1 года. Знание PostgreSQL, MySQL и умение работать с базами данных. 
Experience with Python Django and Django REST framework is a huge plus. Experience with Docker, Dockercompose, Kubernetes and Helm...
